<article class="post-card">
  <div class="post-meta">
    <span>{{ date(post.date, 'YYYY-MM-DD') }}</span>
    {% if post.categories %}
    {% for cat in post.categories.toArray() %}
    <span>{{ cat.name }}</span>
    {% endfor %}
    {% endif %}
  </div>
  <h3><a href="{{ url_for(post.path) }}">{{ post.title }}</a></h3>
  {% if post.description %}
  <p>{{ post.description }}</p>
  {% endif %}
</article>
